# .gitignore
Data/raw/
Data/processed/
Results/models/
Results/plots/
*.h5
*.keras
*.log

# Manter apenas a estrutura de pastas vazia
!Data/raw/.gitkeep
!Data/processed/.gitkeep  
!Results/models/.gitkeep
!Results/plots/.gitkeep